*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('back.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 224px;
    margin-top: -112px;

}


.menu{
    flex:1;
    text-align: right;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-bottom: 111px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    

}

.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#F44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0  40px;
    font-size: 14px;
    color: white;
}

.enroll-btn{
    display: inline-block;
    padding: 12px 20px;
    color: white;
    border: 2px solid #10ac84;
    background: transparent;
    text-decoration: none;
}

.enroll-btn:hover{
    background: #10ac84;
    transition: 1.1s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{

        font-size: 10px;

    }
    .menu ul li{
        display: block;

    }
    .menu{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: white;
        margin: 10%;
        font-size: 22px;
        cursor: pointer;
    }

    .menu ul{
        padding: 10px;

    }

    .menu ul li{
        margin-bottom: -7px;
    }

    nav img{
        width: 192px;
        margin-top: -70px;
    
    }

}


/* Courses section starts */

.course{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}


h2{
    font-size: 30px;
    font-weight: 600;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    color:rgb(141, 134, 134)

}

.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.course-c{
    flex-basis: 31%;
    background: #f6eaea;
    border-radius: 12px;
    margin-bottom: 5px;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3{
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.course-c:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.global{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.campus{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

}

.campus img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{

    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: white;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}


/* facilities starts */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}


.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;

}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}




/* .testimonials{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.testimonials-co{
    flex-basis: 44px;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
    width: 70%;

}

.testimonials-co img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-co p{
    padding: 0;
}


.testimonials-co h3 {
    margin-top: 20px ;
    text-align: left;
} */



.stu{
    width: 90%;
    margin: auto;
    padding-top: 60px;
    text-align: center;

}

.stu-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    background: #fff3f3;
    padding: 25;
    cursor: pointer;
    display: flex;
    
}

.stu-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.img{
    margin-left: 17px;
    margin-top: 25px;
}


.para{
    margin-left: -17px;
}
/* 
.stu-col p{
    padding: 5px;
} 
*/

.stu-col h3{

    text-align: left;

}

.stu-col .fa{
    color: #f44336;
    padding-bottom: 12px;
}

@media(max-width:700px){
    .stu-col img{

        margin-left: 0px;
        margin-right: 15px;

    
    }

    .stu-col{
        flex-basis: 44%;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: left;
        background: #fff3f3;
        cursor: pointer;
        display: flex;
        
    }


}


/* footerrrrrrrrrrrrrrrr */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;



}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}


.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}


/* ---------About Us-------------------- */

.sub-header{
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba());

}