*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('back.jpg');
    background-position: center;
    background-size: cover;
    position: relative
}